<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Registro Usuarios</title>
</head>
<body>
    <section class="form-register">
        <h4>Formulario de Registro</h4>
       
        <input class="controls" type="text" name="Rut" id="Rut" placeholder="Ingrese su RUT (sin puntos y con guion)">
        <br>
        <input class="controls" type="text" name="Nombre" id="Nombre" placeholder="Ingrese su Nombre(s)">
        <br>
        <input class="controls" type="text" name="Apellidos" id="Apellidos" placeholder="Ingrese sus Apellidos">
        <br>
        <input class="controls" type="email" name="e-mail" id="e-mail" placeholder="Ingrese su e-mail">
        <br>
        <input class="controls" type="telefono" name="telefono" id="telefono" placeholder="Ingrese su telefono">
        <br>
        <input class="controls" type="Direccion" name="Direccion" id="Direccion" placeholder="Ingrese su Direccion (nombre calle, numero, comuna, ciudad)">
        <br>
        <input class="controls" type="telefono" name="telefono" id="telefono" placeholder="Ingrese su telefono">
        <br>
        <h4>ingrese fecha nacimiento</h4>
        <input class="controls" type="date" name="fecha" id="FechaNac"  placeholder="ingrese su fecha de nacimiento">
        <br>
        <h4>Selecione tipo de vivienda</h4>
        <select name="tipo de vivienda" id="">
            <option selected>Vivienda</option>
            <option >Casa con Patio</option>
            <option >Casa con patio pequeño</option>
            <option >casa sin patio</option>
            <option >Departamento</option>
        </select>
        <br>
        <br><br>

        <p class="si">Si, estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <input class="buttons" type="submit" value="Registrarse">
        <p>
        <p class="no">No estoy de acuerdo <a href="#">Salir</a></p>
        <a href="#">¿ Ya tienes cuenta ?</a>
        </p>

    </section>

    
</body>
</html>